openapi: 3.1.0
info:
  title: Supermemory ATC Codebase API
  description: Search and query the ATC-1 codebase stored in Supermemory
  version: 1.0.0
servers:
  - url: https://api.supermemory.ai/v3
    description: Supermemory API Server
paths:
  /search:
    post:
      operationId: searchCodebase
      summary: Search the ATC codebase
      description: Performs semantic search across the entire ATC-1 codebase including source files, commits, and documentation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - q
              properties:
                q:
                  type: string
                  description: Natural language search query (e.g., "How does the physics engine work?")
                limit:
                  type: integer
                  description: Maximum number of results to return
                  default: 5
                  minimum: 1
                  maximum: 20
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        content:
                          type: string
                        score:
                          type: number
                        chunks:
                          type: array
      security:
        - ApiKeyAuth: []
  /memories:
    post:
      operationId: addMemory
      summary: Add a new memory to Supermemory
      description: Store new code snippets, notes, or context
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  description: The content to store
                metadata:
                  type: string
                  description: Optional JSON metadata
      responses:
        '200':
          description: Memory added successfully
      security:
        - ApiKeyAuth: []
components:
  schemas: {}
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Use Bearer token: Bearer YOUR_API_KEY'

