API_NINJAS_KEY=your_api_ninjas_key_here

# RapidAPI creds for AeroDataBox
AERODATABOX_KEY=your_rapidapi_key_here
AERODATABOX_HOST=aerodatabox.p.rapidapi.com

# Optional: local fallbacks (if present they'll be used automatically)
ICAO_8643_CSV=cache/icao_8643.csv
PLANES_DAT_URL=https://raw.githubusercontent.com/jpatokal/openflights/master/data/planes.dat

# Tuning
HTTP_TIMEOUT=30
RATE_LIMIT_QPS=2
CACHE_TTL_HOURS=72
